/* Base CSS */
:root {
  /* Color Palette */
  --primary-color: #043a53;
  --secondary-color: #f2f5f6;
  --accent-color: #28a745;
  --text-color: #12141d;
  --grey-color: #404040;
  --light-grey-color: #787878;
  --yellow-color: #f0b73f;

  /* Spacing Scale */
  --spacing-xs: 0.25rem; /* 4px */
  --spacing-sm: 0.5rem; /* 8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 1.5rem; /* 24px */
  --spacing-xl: 2rem; /* 32px */

  /* Font Sizes */
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 4rem; /* 64px */
}

/* CSS Reset & Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: var(--font-size-base);
  line-height: 1.5;
  color: var(--text-color);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--spacing-md);
}
h1 {
  font-size: var(--font-size-5xl);
  line-height: 1.2;
}

h2 {
  font-size: var(--font-size-3xl);
  line-height: 1.25;
}

h3 {
  font-size: var(--font-size-2xl);
  line-height: 1.3;
}

h4 {
  font-size: var(--font-size-xl);
  line-height: 1.35;
}

h5 {
  font-size: var(--font-size-lg);
  line-height: 1.4;
}

h6 {
  font-size: var(--font-size-base);
  line-height: 1.4;
}

/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-lg) var(--spacing-md);
  background-color: var(--secondary-color);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 17px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-links a {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
}

.nav-links a:hover {
  color: #0056b3;
}

li {
  list-style-type: none;
}

.nav-links a.active {
  color: var(--primary-color);
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Buttons */
.btn {
  padding: var(--spacing-sm) var(--spacing-md);
  border-width: 1px;
  border-radius: 9999px;
  font-weight: 500;
  font-size: var(--font-size-sm);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn-light {
  color: var(--text-color);
  background: #fff;
  border: solid #fff;
  border-width: 1px;
}

.btn-primary {
  background-color: var(--primary-color);
  border: solid var(--primary-color);
  color: white;
  border-width: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-light:hover {
  color: #fff;
  background: var(--primary-color);
}

.btn-primary:hover {
  background-color: white;
  color: var(--primary-color);
}

/* Hero Section */
.hero {
  background-color: var(--secondary-color);
  padding: 4rem 1.5rem;
  text-align: center;
  overflow: hidden;
}

.hero-content {
  max-width: 48rem;
  margin: 0 auto;
  /* padding: 0 1.5rem; */
}

.hero h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 0.97;
}

.hero h1 span {
  color: var(--primary-color);
}

.hero p {
  font-size: var(--font-size-base);
  margin-bottom: 2rem;
  color: var(--light-grey-color);
  line-height: 1.6;
  max-width: 600px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.hero-images {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.hero-images img {
  max-height: 15rem;
  object-fit: cover;
}

.hero-cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.btn-video {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: 700;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
}

.video-icon {
  background-color: var(--primary-color);
  padding-left: 0.2rem;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Trustpilot Rating */
.trustpilot {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: var(--font-size-sm);
  color: var(--light-grey-color);
}

.trustpilot span:first-child {
  font-weight: 700;
  font-size: var(--font-size-base);
  color: var(--text-color);
}

.greenStar {
  color: #32c555 !important;
  display: inline-block;
  transform: scale(1.2);
}

.stars {
  color: #ecd60a;
  display: flex;
}

/*trusted brands*/
.trusted-container {
  padding: 3.125rem 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trusted-container span {
  font-weight: 500;
}

.trusted-logo-container {
  min-width: 72%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 100;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 3px;
  transition: var(--transition);
}

/* Mobile Navigation */
@media (max-width: 900px) {
  .hero {
    padding: 2rem 1.5rem;
  }
  .navbar {
    padding: 1rem;
    background-color: #fff;
  }
  .hamburger {
    display: flex;
  }

  nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background-color: white;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.3s;
    z-index: 99;
    padding: 6rem 2rem 2rem 2rem;
  }

  nav.active {
    right: 0;
  }

  .nav-links {
    flex-direction: column;
    gap: 1.5rem;
  }

  .auth-buttons {
    display: none;
  }

  .mobile-auth-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  /* Hamburger Animation */
  .hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}

/*  Desktop  */
@media (min-width: 1060px) {
  .hero {
    padding: 4rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .hero h1 {
    font-size: 4rem;
    font-weight: 700;
  }

  .hero p {
    font-size: var(--font-size-lg);
    font-weight: 500;
  }
  .hero-images {
    display: contents;
  }

  .hero-content {
    order: 2;
    margin: 0;
  }

  .hero-images img:first-child {
    order: 1;
    max-height: 20rem;
  }

  .hero-images img:last-child {
    order: 3;
    max-height: 20rem;
  }
}
/* Large Desktop */
@media (min-width: 1311px) {
  .hero {
    padding: 4rem 7.5rem;
  }
}
/* Tablet & Mobile */
@media (max-width: 1200px) {
  .trusted-container {
    padding: 3.125rem 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
  .trusted-container span {
    font-weight: 500;
  }
  .trusted-logo {
    width: auto;

    height: 22px;
  }
  .trusted-logo-container {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero-cta {
    flex-direction: column;
    align-items: center;
  }

  .trusted-container {
    padding: 3.125rem 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }
  .trusted-container span {
    font-weight: 500;
  }
  .trusted-logo {
    width: auto;

    height: 18px;
  }
  .trusted-logo-container {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
  }
}
